+import('../../iconsets/github.html')
+import('../../../bower_components/core-icon/core-icon.html')
+import('../ticker-card.html')
+import('./ticker-github-branch.html')
+import('./ticker-github-repo.html')
+import('./ticker-github-avatar.html')
script(src='../../../bower_components/time-elements/time-elements.js')


template#EventTimeAgo
  time(
    class='c-gray-light t-font-size-12'
    datetime='{{createdAt}}'
    format='micro'
    is='time-ago'
  )


template#CardTitle
  .ticker-github-events-card__title(
    layout horizontal center
    class='l-padding-b1 l-margin-b2'
  )
    ticker-github-repo(flex repo='{{repo.name}}')
    template(ref='EventTimeAgo' bind='{{}}')


template#PullRequestEvent
  template(ref='CardTitle' bind='{{}}')
  div(layout horizontal center-top)
    ticker-github-avatar(class='l-margin-r2' userid='{{actor.id}}')
    core-icon(
      class='{{   payload.pullRequest.state === "open" ? "c-warning"    \
                : payload.pullRequest.merged           ? "c-confirm"    \
                                                       : "c-error"   }} \
             l-margin-r2'
      icon='github:git-pull-request')
    span(flex)
      | {{payload.pullRequest.title}}


template#CreateOrDeleteEvent
  template(if='{{payload.refType === "repository"}}')
    div(layout horizontal center)
      ticker-github-avatar(class='l-margin-r2' userid='{{actor.id}}')
      core-icon(class='{{iconColor}} l-margin-r2' icon='github:repo')
      ticker-github-repo(repo='{{repo.name}}')

  template(if='{{payload.refType !== "repository"}}')
    template(ref='CardTitle' bind='{{}}')
    div(layout horizontal center)
      ticker-github-avatar(class='l-margin-r2' userid='{{actor.id}}')
      core-icon(class='{{iconColor}} l-margin-r2' icon='github:git-branch')
      span(flex class='t-') {{payload.ref}}


template#CreateEvent
  template(bind='{{"c-confirm" as iconColor}}')
    template(ref='CreateOrDeleteEvent' bind='{{}}')


template#DeleteEvent
  template(bind='{{"c-error" as iconColor}}')
    template(ref='CreateOrDeleteEvent' bind='{{}}')


template#IssueCommentEvent
  template(ref='CardTitle' bind='{{}}')
  div(layout horizontal class='l-margin-b2')
    core-icon(
      class='c-gray-lighter l-margin-r2'
      icon='{{payload.issue.pullRequest ? "github:git-pull-request" \
                                        : "github:issue-opened"     }}'
    )
    span(flex class='t-normal') {{payload.issue.title}}
  div(layout horizontal)
    ticker-github-avatar(class='l-margin-r2' userid='{{actor.id}}')
    div(flex layout horizontal)
      div(flex class='t-italic t-word-wrap-break-word')
        span "{{payload.comment.body}}"


template#IssuesEvent
  template(ref='CardTitle' bind='{{}}')
  div(layout horizontal)
    ticker-github-avatar(class='l-margin-r2' userid='{{actor.id}}')
    core-icon(
      class='{{   payload.action === "opened"   ? "c-warning"    \
                : payload.action === "reopened" ? "c-warning"    \
                                                : "c-confirm" }} \
            l-margin-r2'
      icon='github:issue-{{payload.action}}'
    )
    span(flex) {{payload.issue.title}}


template#WatchEvent
  div(layout horizontal center)
    ticker-github-avatar(class='l-margin-r2' userid='{{actor.id}}')
    core-icon(
      class='c-gray-lightest l-margin-r1'
      icon='github:star'
    )
    ticker-github-repo(flex repo='{{repo.name}}')
    template(ref='EventTimeAgo' bind='{{}}')


template#ForkEvent
  div(layout horizontal center)
    ticker-github-avatar(class='l-margin-r2' userid='{{actor.id}}')
    core-icon(
      class='c-gray-lightest l-margin-r1'
      icon='github:repo-forked'
    )
    ticker-github-repo(flex repo='{{repo.name}}')
    template(ref='EventTimeAgo' bind='{{}}')


template#PushEvent
  template(ref='CardTitle' bind='{{}}')
  div(layout horizontal class='l-margin-b2')
    core-icon(
      class='c-gray-lighter l-margin-r2'
      icon='github:git-branch'
    )
    ticker-github-branch(branch='{{payload.ref}}')
  div(layout horizontal)
    ticker-github-avatar(class='l-margin-r2' userid='{{actor.id}}')
    ul(flex)
      template(repeat='{{commit in limitArray(payload.commits, 3)}}')
        li(horizontal layout class='l-margin-b1')
          core-icon(class='c-confirm l-margin-r2' icon='github:git-commit')
          span(flex) {{commit.message}}


template#GollumEvent
  template(ref='CardTitle' bind='{{}}')
  div(layout horizontal center-top)
    ticker-github-avatar(class='l-margin-r2' userid='{{actor.id}}')
    core-icon(class='c-confirm l-margin-r2' icon='github:book')
    div {{payload.pages[0].title}}

+polymer-element(attributes='data')
  //- div.c-gray-light.l-margin-b1.l-margin-l2.l-margin-t4 {{data.type}}
  ticker-card(layout vertical class='c-gray-darker l-padding-v2 l-padding-h2')
    template(ref='{{data.type}}' bind='{{data}}')
