link(rel='import' href='../../../bower_components/core-icon/core-icon.html')
link(rel='import' href='../../../bower_components/marked-element/marked-element.html')
link(rel='import' href='./ticker-github-repo.html')
link(rel='import' href='./ticker-github-avatar.html')

+polymer-element(attributes='events')(nocss)
  template#CardTitle
    .Card-title
      ticker-github-repo(flex repo='[[repo.name]]')
      span(class='c-gray-dark t-font-size-11') [[created_at | timeAgo]]


  template#PullRequestEvent
    .Card
      template(ref='CardTitle' bind='[[]]')
      .Card-subject
        core-icon(
          class='[[   payload.pull_request.state === "open" ? "c-warning-light"    \
                    : payload.pull_request.merged           ? "c-confirm-light"    \
                                                            : "c-error-light"   ]] \
                 l-margin-r3'
          icon='github:git-pull-request')
        span(flex) [[payload.pull_request.title]]
      .Card-action
          ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
          | [[ payload.pull_request.state === "open" ? "opened" : payload.pull_request.merged ? "merged" : "closed" ]]
          | pull request
      template(if='[[payload.pull_request.body]]')
        .Card-action(class='l-padding-t0')
          marked-element(flex class='t-word-wrap-break-word' text='[[payload.pull_request.body]]')


  template#ReleaseEvent
    .Card
      template(ref='CardTitle' bind='[[]]')
      .Card-subject
        core-icon(
          class='l-margin-r3'
          icon='github:versions')
        | [[payload.release.name]]
      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
        | published this release


  template#TeamAddEvent
    .Card
      template(ref='CardTitle' bind='[[]]')
      .Card-action
        span [[payload.team.name]]
        | &nbsp;team was added


  template#CreateOrDeleteEvent
    .Card
      template(ref='CardTitle' bind='[[]]' if='[[payload.ref_type !== "repository"]]')

      .Card-subject(class='[[payload.ref_type === "repository" && "l-padding-t4 l-padding-b3"]]')
        core-icon(
          class='[[type === "CreateEvent" ? "c-confirm-light" \
                                          : "c-error-light"]] \
                 l-margin-r3'
          icon='github:[[payload.ref_type === "repository" ? "repo" : "git-branch"]]'
        )
        template(if='[[payload.ref_type === "repository"]]')
          ticker-github-repo(repo='[[repo.name]]')
        template(if='[[payload.ref_type !== "repository"]]')
          | [[payload.ref]]

      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
        | [[ (type === 'CreateEvent' ? 'created' : 'deleted') + ' this ' + payload.ref_type ]]

  template#CreateEvent
    template(ref='CreateOrDeleteEvent' bind='[[]]')

  template#DeleteEvent
    template(ref='CreateOrDeleteEvent' bind='[[]]')


  template#PullRequestReviewCommentEvent
    .Card
      template(ref='CardTitle' bind='[[]]')
      .Card-subject
        core-icon(
          class='[[payload.pull_request.state === "closed" ? "c-error-light"     \
                                                           : "c-warning-light"]] \
                 l-margin-r3'
          icon='github:git-pull-request'
        )
        | [[payload.pull_request.title]]
      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
        marked-element(flex class='t-word-wrap-break-word' text='[[payload.comment.body]]')


  template#IssueCommentEvent
    .Card
      template(ref='CardTitle' bind='[[]]')
      .Card-subject
        core-icon(
          class='[[payload.issue.state === "closed" ? "c-error-light"     \
                                                    : "c-warning-light"]] \
                 l-margin-r3'
          icon='[[payload.issue.pull_request ? "github:git-pull-request" \
                                             : "github:issue-opened"     ]]'
        )
        | [[payload.issue.title]]
      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
        | commented on this issue
      .Card-action(class='l-padding-t0')
        marked-element(flex class='t-word-wrap-break-word' text='[[payload.comment.body]]')


  template#IssuesEvent
    .Card
      template(ref='CardTitle' bind='[[]]')
      .Card-subject
        core-icon(
          class='[[payload.action === "closed" ? "c-error-light"     \
                                               : "c-warning-light"]] \
                 l-margin-r3'
          icon='github:issue-[[payload.action]]'
        )
        | [[payload.issue.title]]
      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
        | [[payload.action]] this issue
      .Card-action(class='l-padding-t0')
        marked-element(flex class='t-word-wrap-break-word' text='[[payload.issue.body]]')


  template#CommitCommentEvent
    .Card
      template(ref='CardTitle' bind='[[]]')
      .Card-subject
        core-icon(class='c-confirm-light l-margin-r3' icon='github:git-commit')
        | [[payload.comment.commit_id]]
      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
        marked-element(flex class='t-word-wrap-break-word' text='[[payload.comment.body]]')


  template#WatchEvent
    .Card
      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
        core-icon(
          class='c-gray-lighter l-margin-r3'
          icon='github:star'
        )
        ticker-github-repo(flex class='c-gray-darker t-truncate' repo='[[repo.name]]')
        span(class='c-gray-dark t-font-size-11') [[created_at | timeAgo]]


  template#ForkEvent
    .Card
      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
        core-icon(
          class='c-gray-lighter l-margin-r3'
          icon='github:repo-forked'
        )
        ticker-github-repo(flex class='c-gray-darker' repo='[[repo.name]]')
        span(class='c-gray-dark t-font-size-11') [[created_at | timeAgo]]


  template#PushEvent
    .Card
      template(ref='CardTitle' bind='[[]]')
      .Card-subject
        core-icon(class='c-gray-light l-margin-r3' icon='github:git-branch')
        | [[payload.ref]]
      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
        | pushed [[payload.commits.length]] commits
      template(repeat='[[commit in payload.commits]]')
        .Card-action(class='l-padding-t0' on-tap='[[stateFire.selectAppOverlayGithubCommit]]' fire-arg='commit')
          core-icon(class='c-gray-light l-margin-r3' icon='github:git-commit')
          span(flex class='t-truncate') [[commit.message]]

  template#GollumEvent
    .Card
      template(ref='CardTitle' bind='[[]]')
      .Card-subject
        core-icon(class='c-gray-light l-margin-r3' icon='github:book')
        | [[payload.pages[0].title]]
      .Card-action
        ticker-github-avatar(class='l-margin-r3' avatarUrl='[[actor.avatar_url]]')
        | edited this wiki page

  template(repeat='{{events}}')
    template(ref='[[type]]' bind='[[]]')
