+import('../../bower_components/firebase-element/firebase-element.html')
+import('../../bower_components/firebase-element/firebase-login.html')

+polymer-element()(nocss)
  style.
    :host{display:none;}

  template(if='{{!data.user}}')
    firebase-login#fbLogin(
      provider='github'
      params='{"rememberMe": true}'
      location='https://ticker-test.firebaseio.com'
      user='{{fbUser}}'
      statusKnown='{{statusKnown}}'
    )
