link(rel='import' href='../../bower_components/core-header-panel/core-header-panel.html')
link(rel='import' href='../../bower_components/core-toolbar/core-toolbar.html')
link(rel='import' href='../../bower_components/paper-input/paper-input.html')
link(rel='import' href='./ticker-card.html')

+polymer-element(attributes='isNarrow')
  core-header-panel(fit mode="seamed")
    core-toolbar(class='c-white')
      .bottom(flex layout horizontal class='l-margin-l0 l-padding-t4')
        paper-icon-button(
          class='l-margin-r0 l-margin-t1'
          icon='menu'
          on-tap='[[stateFire.toggleAppDrawer]]')
          
        paper-input#searchInput(
          flex
          class='c-white l-margin-l1 l-padding-r4 l-padding-t2 t-light'
          value='{{state.searchText | onSearchTextChanged}}')
          
        template(if='{{searchText}}')
          paper-icon-button(
            class='l-margin-l0 l-margin-r2 l-margin-t1'
            icon='close'
            on-tap='[[stateFire.clearSearchText]]')

    div(class='l-padding-2 l-overflow-scroll-ios')
      template(if='{{!searchText && !state.searchResults.length}}')
        h2(class='l-padding-v2 c-gray-light t-align-center t-light t-italic')
          | Search for GitHub Users, Organizations, or Repositories

      template(if='{{state.searchText && state.searchResults && state.searchResults.length}}')
        ticker-card(block class='l-margin-b2')
          template(repeat='{{searchResult in state.searchResults}}')
            .search-result(
              layout horizontal center
              class='c-gray-darker l-padding-v4 l-padding-h2 t-light t-font-size-16 u-border-b1 c-border-gray-lightest'
              on-tap='[[stateFire.selectSource]]'
              fire-arg='searchResult')
              
              core-icon(
                class='c-gray-lighter l-margin-l1 l-margin-r2'
                icon='[[  searchResult.config.type === "repos" ? "github:repo"   \
                        : searchResult.config.type === "users" ? "github:person" \
                        : "github:star" ]]')
              | [[searchResult.name]]
