+import('../../bower_components/core-drawer-panel/core-drawer-panel.html')
+import('../../bower_components/core-icons/core-icons.html')

+import('./ticker-drawer.html')
+import('./ticker-login.html')
+import('./ticker-search.html')
//- +import('./ticker-state.html')
+import('./ticker-stream.html')

+polymer-element

  //- ticker-state#state

  template#stream
    ticker-stream(
      main
      isNarrow='{{isNarrow}}'
      stream='{{selectedEventStream}}'
      on-ticker-stream-open-drawer='[[onOpenDrawer]]')

  template#search
    ticker-search(
      main
      isNarrow='{{isNarrow}}'
      on-ticker-search-close='[[onCloseSearch]]'
      on-ticker-search-select='[[onSearchSelect]]')

  template(if='{{$.state.data.view === "login"}}')
    ticker-login

  template(if='{{$.state.data.view !== "login"}}')
    core-drawer-panel#drawerPanel(
      disableSwipe='[[DRAWER_SWIPE_DISABLED]]'
      drawerWidth='320px'
      narrow='{{isNarrow}}')

      template(ref='{{$.state.data.view}}' bind='[[]]')
      ticker-drawer(drawer)
