+import('../../bower_components/core-header-panel/core-header-panel.html')
+import('../../bower_components/paper-fab/paper-fab.html')
+import('./cards/ticker-github-events-card.html')

+polymer-element(attributes='isLoaded isNarrow stream')
  ticker-session#session
  core-header-panel(fit mode='{{isNarrow ? "waterfall" : "cover"}}')
    div(fit class='l-padding-h2 l-padding-t2 l-overflow-scroll-ios')
      template(if='{{events}}')
        ticker-github-events-card(block events='[[events]]')
        paper-fab(
          on-tap='[[onToggleFavoriteEventStream]]'
          icon="favorite"
          class='{{isSelectedEventStreamFavorited ? "c-bg-confirm" : "c-bg-error"}} \
                 {{isNarrow && "is-on-bottom"}} \
                 c-white'
        )
    core-toolbar(class='{{!isNarrow && "medium-tall"}} c-white')
      template(if='{{isNarrow}}')
        paper-icon-button(
          class='l-margin-l2 l-margin-r0'
          icon='menu'
          on-tap='{{onOpenDrawer}}'
        )
        span(flex class='l-margin-l1 t-font-size-20 t-normal')
          | {{stream.name}}
