+import('../../bower_components/core-icons/core-icons.html')
+import('../../bower_components/core-drawer-panel/core-drawer-panel.html')
+import('../../bower_components/core-scroll-header-panel/core-scroll-header-panel.html')
+import('../../bower_components/core-toolbar/core-toolbar.html')
+import('../../bower_components/paper-icon-button/paper-icon-button.html')
+import('./cards/ticker-github-events-card.html')
+import('./ticker-search.html')

+polymer-element
  core-drawer-panel#drawerPanel(defaultSelected='drawer')
    //- TODO(pwong): extract to seperate element
    ul(drawer class='c-bg-white l-overflow-auto')
      li.drawer__item.drawer__item--header(
        class='c-gray-darker c-bg-gray-lightest l-padding-2'
      ) Favorites

      //- TODO(pwong): use core-selector? core-list? core-*?
      template(repeat='{{eventStream in eventStreams}}')
        li.drawer__item(
          class='{{ eventStream === selectedEventStream ? "t-normal" \
                                                        : "t-light" }} \
                 c-gray-darker l-padding-h2'
          on-click='{{onSelectEventStream}}'
        )
          core-icon(
            class='{{ eventStream === selectedEventStream ? "c-gray-darker"   \
                                                          : "c-gray-lighter" }} \
                   l-margin-r2'
            icon='{{  eventStream.config.type === "repos" ? "github:repo"   \
                    : eventStream.config.type === "users" ? "github:person" \
                    : "github:star" }}'
          )
          | {{eventStream.name}}

    div(main)
      //- TODO(pwong): extract to seperate element
      .ticker-app__content(fit class='l-padding-h2')
        template(repeat='{{ event in events }}')
          ticker-github-events-card(block class='l-margin-b1' data='[[event]]')

        template(if='{{isSearching}}')

      //- TODO(pwong): extract to seperate element
      .ticker-app__content.ticker-app__content--search(fit hidden?='{{!isSearching}}')
        ticker-search(fit searchText='{{}}')

      core-toolbar(fit class='c-white')
        template(if='{{!isSearching}}')
          paper-icon-button(class='l-margin-l2 l-margin-r0' icon='menu' on-tap='{{onOpenDrawer}}')
          span(flex class='l-margin-l1 t-font-size-20 t-normal t-truncate') {{selectedEventStream.name}}
          paper-icon-button(class='l-margin-r2' icon='refresh' on-tap='{{onRefresh}}')
          paper-icon-button(class='l-margin-l0 l-margin-r2' icon='search' on-tap='{{onShowSearch}}')

        template(if='{{isSearching}}')
          paper-icon-button(class='l-margin-l2 l-margin-r0' icon='arrow-back' on-tap='{{onHideSearch}}')
          paper-input#searchInput(
            flex
            class='c-white l-margin-l1 l-padding-t2 t-normal'
            inputValue='{{searchText}}'
          )
          paper-icon-button(class='l-margin-l0 l-margin-r2' icon='close' on-tap='{{onClearSearch}}')
