link(rel='import' href='../../bower_components/core-scroll-header-panel/core-scroll-header-panel.html')
link(rel='import' href='../../bower_components/core-toolbar/core-toolbar.html')
link(rel='import' href='../../bower_components/paper-fab/paper-fab.html')
link(rel='import' href='../../bower_components/paper-tabs/paper-tabs.html')
link(rel='import' href='../../bower_components/paper-icon-button/paper-icon-button.html')
link(rel='import' href='./cards/ticker-github-events-card.html')
link(rel='import' href='./cards/ticker-github-pullrequests.html')
link(rel='import' href='./cards/ticker-github-issues.html')

+polymer-element(attributes='isNarrow')
  template#tab-updates
    ticker-github-events-card(
      class='l-display-block l-margin-t2'
      events='[[state.source.events]]'
      style='max-width: 640px; width: 100%')
             
  template#tab-code
    h3.t-italic.c-gray-light Code
    
  template#tab-pullRequests
    ticker-github-pullrequests(
      class='l-display-block l-margin-t2'
      pullRequests='[[state.source.pullRequests]]'
      style='max-width: 640px; width: 100%')
  
  template#tab-issues
    ticker-github-issues(
      class='l-display-block l-margin-t2'
      issues='[[state.source.issues]]'
      style='max-width: 640px; width: 100%')
  
  template#tab-issues
    h3.t-italic.c-gray-light Issues
    
  template#tab-info
    h3.t-italic.c-gray-light Info
    
  core-scroll-header-panel(fit)
    div(layout vertical center class='l-margin-t6 l-padding-h2 l-padding-t6')
      template(ref='tab-{{state.tab}}' bind='[[]]')
        
      paper-fab(
        on-tap='[[stateFire.toggleFavoriteSource]]'
        icon="favorite"
        class='{{state.isSourceFavorited ? "c-bg-confirm" : "c-bg-error"}} \
               {{isNarrow && "is-on-bottom"}} \
               c-white')
                 
    core-toolbar
      paper-icon-button(
        class='l-margin-r0'
        icon='menu'
        on-tap='{{stateFire.toggleAppDrawer}}')
        
      span#titleText(class='t-font-size-20 t-normal' style='height: 16px')
        | {{state.source.name}}
        
    core-toolbar.core-toolbar--tabs
      paper-tabs.bottom(
        scrollable hideScrollButton
        class='fit c-bg-brand-primary-light'
        selected='{{state.tab | bindInputToState("tab")}}')
        paper-tab(name='code')         CODE
        paper-tab(name='updates')      UPDATES
        paper-tab(name='pullRequests') PULL REQUESTS
        paper-tab(name='issues')       ISSUES
        paper-tab(name='info')         INFO
        
