// <multi-search-select>
// ---------------------

// ### <client-form>

multi-search-select(
  new-item-callback='newBrand'
  ng-model='client.brands'
  option-key='name'
  options='brands')

// ### <add-vendor-search-form>

multi-search-select(
  ng-model='query.dmas'
  option-key='name'
  options="markets | orderBy:'name'"
  placeholder=translate('add_vendor.search.geographic.placeholder.message'))

multi-search-select(
  ng-model='query.categories'
  option-key='name'
  options="categories | orderBy:'name'"
  placeholder=translate('add_vendor.search.category.placeholder.message'))

// ### <basic-info-tab>

multi-search-select(
  ng-model='campaign.accountMembers'
  option-key='fullName'
  options="members | orderBy:'fullName'")

// ### <requirements-tab>

multi-search-select(ng-model='campaign.adPlatforms'
  option-key='name'
  options="adPlatforms | orderBy:'name'"
  placeholder=translate('planning.create_diag.requirements.platforms.placeholder.message'))

multi-search-select(ng-model='campaign.adTypes'
  option-key='name'
  options="adTypes | orderBy:'name'"
  placeholder=translate('planning.create_diag.requirements.formats.placeholder.message'))

multi-search-select(ng-model='campaign.adSizes'
  option-key='name'
  options="adSizes | orderBy:'name'"
  placeholder=translate('planning.create_diag.requirements.sizes.placeholder.message'))

multi-search-select(ng-model='campaign.desiredPositions'
  option-key='name'
  options="desiredPositions | orderBy:'name'"
  placeholder=translate('planning.create_diag.requirements.positioning.placeholder.message'))

// ### <targeting-tab>

multi-search-select(
  ng-model='campaign.targetMarkets'
  option-key='name'
  options="markets | orderBy:'name'" placeholder="{{'planning.create_diag.targeting.geographic.placeholder.message'|translate}}")

multi-search-select(
  ng-model='campaign.targetCategories'
  option-key='name'
  options="categories | orderBy:'name'" placeholder="{{'planning.create_diag.targeting.categories.placeholder.message'|translate}}")

// ### <rfp-details>


multi-search-select(
  ng-model='rfp.campaignDetails.targetMarkets'
  option-key='name'
  options="markets | orderBy:'name'" placeholder="{{'planning.create_diag.targeting.geographic.placeholder.message'|translate}}")

multi-search-select(
  ng-model='rfp.campaignDetails.adPlatforms'
  option-key='name'
  options="adPlatforms | orderBy:'name'" placeholder="{{'planning.create_diag.requirements.platforms.placeholder.message'|translate}}")

multi-search-select(
  ng-model='rfp.campaignDetails.adTypes'
  option-key='name'
  options="adFormats | orderBy:'name'" placeholder="{{'planning.create_diag.requirements.formats.placeholder.message'|translate}}")

multi-search-select(
  ng-model='rfp.campaignDetails.adSizes'
  option-key='name'
  options="adSizes | orderBy:'name'" placeholder="{{'planning.create_diag.requirements.sizes.placeholder.message'|translate}}")

multi-search-select(
  ng-model='rfp.campaignDetails.desiredPositions'
  option-key='name'

// ### <rfp-message>

multi-search-select(
  close-on-select='true'
  error-message="{{'send_rfp.dialog.recipients.publisher.error.message' | translate}}"
  inner-label="{{'send_rfp.dialog.recipients.publisher.message' | translate}}"
  ng-model='proposal.publisherRecipients' option-key='fullName' options="members | orderBy:'fullName'"
  required='')

multi-search-select.multi-search-select--secondary(
  close-on-select='true'
  error-message="{{'send_rfp.dialog.recipients.agency.error.message' | translate}}"
  inner-label="{{'send_rfp.dialog.recipients.agency.message' | translate}}"
  ng-model='proposal.agencyRecipients' option-key='fullName' options="members | orderBy:'fullName'"
  required='')

// <search-select>
// ---------------

// ### <add-vendor-search-form>

search-select(
  option-key='name'
  options='vendors'
  placeholder=translate('add_vendor.search.vendor_name.placeholder.message')
  query='query.vendorName')

// ### <basic-info-tab>

search-select(
  error-message=translate('planning.create_diag.basic.client.error.message')
  model='campaign.client'
  ng-required='true'
  option-key='name'
  options="clients | orderBy:'name'")

// ### <rfp-details>

search-select(
  error-message="{{'planning.create_diag.basic.client.error.message'|translate}}"
  model='rfp.campaignDetails.buyerAccount'
  option-key='name'
  options="clients | orderBy:'name'")
